// Colors
$brown: #CFA55B;
$brownDark: #bf9754;
$brownLight: #e3b76a;;
$orange: #FFC256;
$black: #424242;

// Container
$containerWidth: 1330;
$currentWidth: 1680;
$mainWidth: calc(#{$currentWidth - 320});