.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 18px;
    gap: 5px;
    z-index: 10000;
    cursor: pointer;
    span {
        display: block;
        width: 37px;
        height: 3px;
        background-color: #FFFFFF;
        border-radius: 3px;
        transition: .3s ease all; 
        &:nth-child(3) { 
            width: 25px;
            transition-delay: .1s;
        }       
    }
    &.active {
        span {
            box-shadow: none;
        }
        span:nth-child(1) {
            transform: rotate(-135deg) translate(-5px, -12px);
            transition: .3s all;
        }
        span:nth-child(2) {
            transform: translateX(-100%);
            opacity: 0;
            transition: .3s all;
        }
        span:nth-child(3) {
            transition: .3s all;
            width: 37px;
            transform: rotate(135deg) translate(0px, 6px);
            transition-delay: .1s;
        }
    }
}

.hidden-menu {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease all;
    &.active {
        visibility: visible;
        opacity: 1;
        transition: .3s ease all;
    }
    &__block {
        padding: 35px 25px;
        position: absolute;
        right: 0px;
        top: 50px;
        max-width: 250px;
        max-height: 400px;
        z-index: 1;
        background: rgba(0, 0, 0, .8);
        box-shadow: 6px 3px 5px 0px rgba(0, 0, 0, 0.5);
        &:after {
            content: '';
            position: absolute;
            top: -15px;
            right: 8px;
            width: 0; 
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid rgba(0, 0, 0, .8);
        }
    }
    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        @include gap(30, 20);
    }
    &__link {
        color: #ffffff;
        font-weight: 500;
        @include font-size(16, 14);
        transition: .15s ease all;
        &:hover {
            color: $orange;
            transition: .15s ease all;
        }
    }
    // &__overlay {
    //     z-index: -1;
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: #fff;
    //     opacity: 0;
    //     transition: .3s cubic-bezier(0.215, 0.610, 0.355, 1);
    // }
}